html, body {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    padding: 0.3em 3em;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

header h1, header h2 {
    color: white;
    text-shadow: -2px -2px 2px black, 1px 1px 2px white;
}

header h1 .versionnum {
    display: inline-block;
    color: #f00;
    text-shadow: none;
    font-family: 'Comic Sans MS';
    font-size: 170%;
    position: relative;
    bottom: -0.2em;
    transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}

article {
    margin: 1em;
}

article .box {
    /*display: inline-block;*/
    /*min-width: 40em;*/
    /*min-height: 30em;*/
    /*border: 1px solid black;*/
    margin: 1em;
    vertical-align: top;
    /* border: 1px solid black; */
}
